
#nav{
    width: 500px;
}

.class{
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    text-indent: 1em;
    background: #ff0606;
/*图片颜色 图片 图片位置 平铺方式*/
    background: red url("../images/xiangxiajiantou.jpg") 200px 5px no-repeat;
}
/*ul li*/
/*list-style: none 去掉原点
list-style: circle 变成空心圆
list-style: decimal 有序
list-style: square 实心正方形
text-decoration：none去掉文字下划线
*/
ol li{
    height: 30px;
    /*list-style: none;*/
    /*list-style: circle;*/
    /*list-style: decimal;*/
    list-style: square;
    overflow-y: auto;
    text-indent: 1em;
    background: antiquewhite url("../images/xiangyoujiantou.jpg") 400px no-repeat;


}
ul{
    background: antiquewhite;
}
a{
    text-decoration: none;
}
a:hover{
    color: #111111;
}
