#content{
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    font-size: 12px;
    line-height: 25px;
    border: 2px solid black;
    width: 180px;

}
ul,li{
    margin: 0px;
    padding: 0px;
    list-style: none;/*去掉圆点*/
}
/*父级元素相对定位*/
#content ul{
    position: relative;
}
.tipText, .tipBg{
    position: absolute;
    width: 380px;
    top: 170px;
    height: 25px;
}
.tipText{
    /*z-index: 0;*/
    color: white;
}
.tipBg{
    background: black;
    opacity: 0.5;/*背景透明度*/
    /*filter: Alpha(opacity=0.5);*/
}